{% extends 'home/base_detalhe.html' %}
{% load widget_tweaks %}

{% block title %}
    GSA || Serviços
{% endblock title %}

{% block header_pagina %}
    <div class="container-fluid page-header py-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Nossos Serviços</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Todos os Serviços</a></li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock header_pagina %}

{% block content %}

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Serviços</h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <form method="get">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="mx-4">
                                <div class="input-group">
                                    {% render_field filter.form.titulo|append_attr:"class:form-control" type="text" placeholder="Busque por Serviços"%}
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </form>
            </div>
            <div class="row g-4 portfolio-container">
                {% for item in filter.qs %}
                    <div class="col-lg-4 col-md-6 portfolio-item {% cycle 'first' 'second' %} }}first wow fadeInUp"
                         data-wow-delay="{% cycle "0.1s" "0.3s" "0.5s" %}">
                        <div class="portfolio-inner">
                            <img class="img-fluid w-100" src="{{ item.imagem.url }}" alt="">
                            <div class="text-center p-4">
                                <p class="text-primary mb-2">{{ item.categoria.nome }}</p>
                                <h5 class="lh-base mb-0">{{ item.titulo }}</h5>
                            </div>
                            <div class="portfolio-text text-center bg-white p-4">
                                <p class="text-primary mb-2">{{ item.categoria.nome }}</p>
                                <h5 class="lh-base mb-3">{{ item.titulo }}</h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square btn-primary rounded-circle mx-1"
                                       href="{{ item.imagem.url }}"
                                       data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{% url 'servicos:servico_detalhe' item.slug %}"><i
                                            class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
        </div>
    </div>
{% endblock content %}