{% extends 'home/base_detalhe.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'home/assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + JoeBLog main styles -->
    <link rel="stylesheet" href="{% static 'home/assets/css/joeblog.css' %}">
{% endblock css %}

{% block header_pagina %}
    <div class="container-fluid page-header py-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">{{ object.titulo }}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">{{ object.categoria.nome }}</a></li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock header_pagina %}



{% block content %}
    <section class="container-blog">
        <div class="page-container">
            <div class="page-content">
                <div class="card-blog">
                    <div class="card-header pt-0">
                        <h3 class="card-title mb-4">Voluptates Corporis Placeat</h3>
                        <div class="blog-media mb-4">
                            <img src="{{ object.imagem.url }}" alt="" class="w-100">
                            <a href="#" class="badge badge-primary">#{{ object.categoria.nome }}</a>
                        </div>
                        <small class="small text-muted">
                            <a href="#" class="text-muted">BY Admin</a>
                            <span class="px-2">·</span>
                            <span>{{ object.created_at }}</span>
                            <span class="px-2">·</span>
                            {#                            <a href="#" class="text-muted">32 Comments</a>#}
                        </small>
                    </div>
                    <div class="card-body border-top">
                        <p class="my-3">{{ object.descricao }}</p>

                    </div>

                    <div class="card-footer">
                        <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark">
                            <a href="/contato/"
                               class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Saber Mais
                            </a>
                        </a></h6>
                        <hr>
                        <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark">Solicitar Orçamento</a></h6>
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-sm-4 form-group">
                                    <input type="text" name="nome" class="form-control" value="Nome">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <input type="text" name="servico" class="form-control" value="{{ object.titulo }}" disabled>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <input type="text" name="whatsapp" class="form-control" placeholder="whatsapp">
                                </div>
                                <div class="col-12 form-group">
                                    <textarea name="mensagem" id="" cols="30" rows="10" class="form-control"
                                              placeholder="Enter Your Comment Here"></textarea>
                                </div>
                                <div class="form-group col-12">
                                    <button type="submit" class="btn-blog btn-primary btn-blog-block">Solicitar Orçamento</button>Ç
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <h6 class="mt-5 text-center">Related Posts</h6>
                <hr>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card-blog mb-5">
                            <div class="card-header p-0">
                                <div class="blog-media">
                                    <img src="assets/imgs/blog-2.jpg" alt="" class="w-100">
                                    <a href="#" class="badge badge-primary">#Placeat</a>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <h6 class="card-title mb-2"><a href="#" class="text-dark">Voluptates Corporis
                                    Placeat</a></h6>
                                <small class="small-blog text-muted">January 20 2019
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">34 Comments</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card-blog mb-5">
                            <div class="card-header p-0">
                                <div class="blog-media">
                                    <img src="assets/imgs/blog-3.jpg" alt="" class="w-100">
                                    <a href="#" class="badge badge-primary">#dolores</a>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <h6 class="card-title mb-2"><a herf="#" class="text-dark">Dolorum Dolores Itaque</a>
                                </h6>
                                <small class="small-blog text-muted">January 19 2019
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">64 Comments</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-none d-lg-block">
                        <div class="card-blog mb-5">
                            <div class="card-header p-0">
                                <div class="blog-media">
                                    <img src="assets/imgs/blog-4.jpg" alt="" class="w-100">
                                    <a href="#" class="badge badge-primary">#amet</a>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <h6 class="card-title mb-2">Quisquam Dignissimos</h6>
                                <small class="small-blog text-muted">January 17 2019
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">93 Comments</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="page-sidebar">
                <h6 class=" ">Tags</h6>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#iusto</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#quibusdam</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#officia</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#animi</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#mollitia</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#quod</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#ipsa at</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#dolor</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#incidunt</a>
                <a href="javascript:void(0)" class="badge badge-primary m-1">#possimus</a>

                <div class="ad-card d-flex text-center align-items-center justify-content-center mt-4">
                    <span href="#" class="font-weight-bold">ADS</span>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block scipts %}
    <script src="{% static 'home/assets/js/joeblog.js' %}"></script>
{% endblock scipts %}