{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<script src="{% static 'ronda/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ronda/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'ronda/plugins/toastr/toastr.min.js' %}"></script>


{% endblock %}


{% block titulo %}GSA::Registros{% endblock %}

{% block content %}
     <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Registros</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Meus Registros</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><a href="{% url 'apontamento:novo_registro' %}" class="btn btn-block btn-success btn-lg">Novo Registro</a></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>LOCAL</th>
                      <th>DATA</th>
                      <th>HORÁRIO</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for registro in registros %}
                    <tr>
                      <td>{{ registro.id }}</td>
                      <td>{{ registro.local }}</td>
                      <td>{{ registro.created_at.date|date:"d-m-Y" }}</td>
                      <td><span class="badge bg-danger">{{ registro.created_at.time }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
             {% include 'gerador_qrcode/pagination.html' %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block scripts %}
    <script>
        {% if messages %}
            {% for message in messages %}
                $(function() {
                    $(document).Toasts('create', {
                        closeButton: true,
                        class: 'bg-success',
                        title: 'Criação Qr Code',
                        progressBar: true,
                        hideAfter: 10000,
                        autohide: true,
                        delay: 950,
                        body: '{{ message }}'
                    })
                });
    {% endfor %}
        {% endif %}
</script>
{% endblock %}
