{% extends 'home/base.html' %}
{% load static %}

{% block carousel %}
    {% include 'home/includes/carousel.html' %}
{% endblock carousel %}


{% block servicos %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Nossos Serviços</h1>
            </div>
            <div class="row g-4 portfolio-container">
                {% for servico in servicos_home %}
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-inner">
                            <img class="img-fluid w-100" src="{{ servico.imagem.url }}" style="height: 300px" alt="">
                            <div class="text-center p-4">
                                <p class="text-primary mb-2">{{ servico.nome }}</p>
                                <h5 class="lh-base mb-0">{{ servico.descricao| slice:"0:100" }}...</h5>
                            </div>
                            <div class="portfolio-text text-center bg-white p-4">
                                <p class="text-primary mb-2">{{ servico.nome }}</p>
                                <h5 class="lh-base mb-3">{{ servico.descricao| slice:"0:100" }}...</h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{{ servico.imagem.url }}"
                                       data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{% url 'servicos:servico_detalhe'  servico.slug %}"><i
                                            class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>


    <a href="https://wa.me/55{{ site_infor.telefone }}?text=Ola%20gostaria%20de%20duvida" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
  z-index:1000;" target="_blank">
        <i style="margin-top:16px" class="fab fa-whatsapp"></i>
    </a>
{% endblock servicos %}


{% block parceiros_home %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Parceiros</h1>
            </div>
            <div class="row g-4">
                {% for parceiro in parceiros %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="overflow-hidden position-relative">
                                <img class="img-fluid" src="{{ parceiro.logo.url }}" style="height: 300px" alt="">
                                <div class="team-social">
                                    <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">{{ parceiro.nome }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock parceiros_home %}