{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    GSA::Lista de QrCode
{% endblock titulo %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Qr Codes</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">QR Codes</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row">
                        {% for qrcode in qr_codes %}
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">
                                        {{ qrcode.empresa.nome }}
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="lead"><b>{{ qrcode.created_at }}</b></h2>
                                                <p class="text-muted text-sm"><b>Local: </b> {{ qrcode.local }} </p>
                                            </div>
                                            <div class="col-5 text-center">
                                                <img src="{{ qrcode.qr_code.url }}" alt="{{ qrcode.empresa.nome }}" class="img-rounded img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a href="{% url 'qrcode:delete_qr' qrcode.id %}" class="btn btn-sm bg-danger">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            <a href="{% url 'qrcode:detalhe_qr' qrcode.id %}" class="btn btn-sm btn-primary">
                                                <i class="fas fa-user"></i> Imprimir
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            {% include 'gerador_qrcode/pagination.html' %}
        </section>
    </div>
{% endblock content %}

{% block script %}

{% endblock script %}
