<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
    <a href="{% url 'home:home' %}" class="navbar-brand d-flex align-items-center">
        <h2 class="m-0 text-primary">GSA Portaria</h2>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-4 py-lg-0">
            <a href="{% url 'home:home' %}" class="nav-item nav-link {% if active_home %}active {% endif %}">Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Serviços</a>
                <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                    {% for categoria_servico in categorias_servicos %}
                        <a href="{ categoria_servico.get_absolute_url }}" class="dropdown-item">{{ categoria_servico }}</a>
                    {% endfor %}

                </div>
            </div>
            <a href="{% url 'contato:contato' %}" class="nav-item nav-link {% if active_contato %}active {% endif %}">Contato</a>
            <a href="" class="nav-item nav-link">Login</a>
            <a href="https://www.gsaportaria.com.br:2096/" class="nav-item nav-link">Webmail</a>
        </div>
        <div class="h-100 d-lg-inline-flex align-items-center d-none">
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i
                    class="fab fa-twitter"></i></a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i
                    class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</nav>