<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="{% url 'home:home' %}">GSA</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'home:home' %}">Home</a></li>
                <li><a href="#about">Sobre nós</a></li>
                <li><a href="#services">Serviços</a></li>
                <li><a href="#portfolio">Portfólio</a></li>
                <li><a href="#team">Parceiros</a></li>
                <li><a href="#contact">Contato</a></li>
                <li><a href="{% url 'servicos:servicos' %}">Serviços</a></li>
                <li><a href="https://www.gsaportaria.com.br:2096/">Webmail</a></li>
                <li><a href="#">Área do Cliente</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header>